@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin-ext');

/* 'Raleway',sans-serif; */
/* font-5: "Lato", sans-serif; */
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}